@model IEnumerable<IT___Telefaune.Models.SalarieModel>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Liste des salariés</h2>
        </div>
        @if (ViewBag.sessionv == null)
        {
            <div class="col-6 text-right">
                <button type="button" class="btn btn-primary mx-1" disabled>Ajouter un salarié</button>
            </div>
        }

        @if (ViewBag.sessionv != null)
        {
            <div class="col-6 text-right">
                <a asp-controller="Salarie" asp-action="Create" class="btn btn-primary">Ajouter un salarié</a>
            </div>
        }

    </div>

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th class="text-center">
                        Informations
                    </th>
                    <th class="text-center">
                        Nom
                    </th>
                    <th class="text-center">
                        Prénom
                    </th>
                    <th class="text-center">
                        Service
                    </th>
                    <th class="text-center">
                        Site
                    </th>
                    <th class="text-center">
                        Modification
                    </th>
                    <th class="text-center">
                        Suppression
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var salarie in Model)
                {
                <tr class="align-items-lg-center">
                    <td class="text-center" width="20%"><a asp-controller="Salarie" asp-route-Id="@salarie.SalarieId" asp-action="ConsultForm">Consulter</a></td>
                    <td class="text-center" width="20%">@salarie.Nom</td>
                    <td class="text-center" width="15%">@salarie.Prenom</td>
                    <td class="text-center" width="15%">@salarie.TypeServiceWrong</td>
                    <td class="text-center" width="15%">@salarie.NomSiteWrong</td>

                    @if (ViewBag.sessionv == null)
                    {
                        <td width="15%">
                            <div class="col-7">
                                <button type="button" class="btn btn-primary mx-1" disabled>Editer</button>
                            </div>
                        </td>
                        <td class="text-center" width="15%">
                            <div class="col-7 justify-content-md-center">
                                <button type="button" class="btn btn-danger mx-1" disabled>Supprimer</button>
                            </div>
                        </td>
                    }


                    @if (ViewBag.sessionv != null)
                    {
                        <td width="15%">
                            <div class="col-7">
                                <a asp-controller="Salarie" asp-route-Id="@salarie.SalarieId" asp-action="Update" class="btn btn-primary mx-2">Editer</a>
                            </div>
                        </td>
                        <td class="text-center" width="15%">
                            <div class="col-7 justify-content-md-center">
                                <a asp-controller="Salarie" asp-route-Id="@salarie.SalarieId" asp-action="DeleteGet" class="btn btn-danger mx-1">Supprimer</a>
                            </div>
                        </td>
                    }
                </tr>
                }
            </tbody>
        </table>

    }
    else
    {
        <p>Aucun salarié n'a encore été enregistré...</p>
    }
</div>